@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

/* antd override */
input {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.473) !important;
    height: 30px !important;
}

input:focus,
.ant-picker {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

label {
    font-size: 16px !important;
    color: black !important;
    font-weight: 400;
}

.ant-form-item {
    margin: 10px 0px !important;
}

.ant-picker-input input {
    border: none !important;
}

.ant-picker {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.473) !important;
    height: 30px !important;
}

/* common styles */
.spinner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner-border {
    height: 5rem;
    width: 5rem;
}

.card {
    box-shadow: 0 0 2px rgb(196, 194, 194);
}

.page-title {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.836);
    font-weight: bold;
}

.card-title {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.534);
    font-weight: bold;
}

.doctor-card {
    color: rgba(0, 0, 0, 0.671) !important;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.curser-pointer {
    cursor: pointer;
}

.normal-text {
    font-size: 1rem;
}

.anchor {
    cursor: pointer;
}

.primary-button {
    background-color: rgb(17, 72, 109) !important;
    border: none !important;
    border-radius: 5px;
    color: aliceblue !important;
    height: 40px !important;
    font-size: 16px !important;
    margin: 10px 0px !important;
    width: max-content !important;
    outline: none !important;
}

.auth,
.full-width-button {
    width: 100% !important;
    margin: 16px 0px 0px 0px !important;
}

.auth {
    margin-bottom: 10px !important;
}

.margin-right {
    margin-right: 15px !important;
}

.anchor {
    color: black !important;
    text-decoration: underline !important;
    font-size: 16px !important;
}

.anchor:hover {
    text-decoration: underline !important;
    color: rgb(17, 18, 90) !important;
}

/* authentication pages */

.authentication {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 72, 109);
}

.authentication-form {
    width: 400px;
}

.authentication .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(82, 199, 4);
    width: max-content !important;
    color: aliceblue !important;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;
}