@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

/* antd override */
input:focus,
.ant-picker {
    outline: none !important;
    box-shadow: none !important;
}

label {
    font-size: 16px !important;
    color: black !important;
    font-weight: 400;
}

.ant-form-item {
    margin: 10px 0px !important;
}

.ant-picker-input input,
input {
    border: none !important;
    padding: 5px;
    outline: none !important;
}

.code-input-box {
    border: 1px solid rgba(128, 128, 128, 0.473) !important;
    border-radius: 10px;
    margin: 5px;
}

.code-input-box:active {
    border: none;
}

.password-input {
    height: 35px !important;
    outline: none !important;
}

.ant-picker {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.473) !important;
    height: 30px !important;
}

/* common styles */
.spinner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner-border {
    height: 5rem;
    width: 5rem;
}

.card {
    box-shadow: 0 0 2px rgb(196, 194, 194);
    background-color: #fff;
}

.page-title {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}

.card-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.534);
    font-weight: bold;
}

.card-heading {
    color: black;
}

.otp-card-title {
    width: max-content !important;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

.doctor-card {
    color: rgba(0, 0, 0, 0.671) !important;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.doctor-card-text {
    color: #ffffff !important;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.curser-pointer {
    cursor: pointer;
}

.normal-text {
    font-size: 1rem;
}

.anchor {
    cursor: pointer;
}

.primary-button {
    border: none !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    height: 40px !important;
    color: #00aeff !important;
    font-size: 18px !important;
    letter-spacing: 3px !important;
    border: 2px solid #00aeff !important;
    margin: 10px 0px !important;
    width: max-content !important;
    outline: none !important;
    text-transform: uppercase !important;
    position: relative !important;
    overflow: hidden !important;
    transition: all 0.5s !important;
}

.primary-button:hover {
    color: white !important;
}

.auth,
.full-width-button {
    width: 100% !important;
    margin: 16px 0px 0px 0px !important;
}

.auth {
    margin-bottom: 10px !important;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
    background-color: #00aeff;
    transition: all 1s;
    z-index: -1;
}

.primary-button:hover .wave {
    top: 0;
}

.wave:before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url('./assets/wave.png');
    animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
    0% {
        background-position-x: 0
    }

    100% {
        background-position-x: 118px;
    }
}

.ant-input-affix-wrapper {
    background: none !important;
}

.margin-right {
    margin-right: 15px !important;
}

.anchor {
    color: rgb(229, 255, 0) !important;
    text-decoration: underline !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.forgot-btn {
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 0px;
    padding-right: 0px;
    font-weight: 500;
    background: none;
}

.anchor:hover,
.forgot-btn:hover {
    text-decoration: underline !important;
    color: rgb(17, 18, 90) !important;
}

/* authentication pages */
.title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.title li {
    list-style: none;
    color: #c5c1c1;
    font-size: 30px;
    letter-spacing: 15px;
    animation: lighting 1.4s linear infinite;

}

@keyframes lighting {
    0% {
        color: #c5c1c1;
        text-shadow: none;
    }

    90% {
        color: #c5c1c1;
        text-shadow: none;
    }

    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}

.title li:nth-child(1) {
    animation-delay: 0
}

.title li:nth-child(2) {
    animation-delay: 0.1s
}

.title li:nth-child(3) {
    animation-delay: 0.2s
}

.title li:nth-child(4) {
    animation-delay: 0.3s
}

.title li:nth-child(5) {
    animation-delay: 0.4s
}

.title li:nth-child(6) {
    animation-delay: 0.5s
}

.title li:nth-child(7) {
    animation-delay: 0.6s
}

.title li:nth-child(8) {
    animation-delay: 0.7s
}

.authentication {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 72, 109);
}

@media screen {
    .authentication {
        background: rgb(14, 13, 13, 1) url('./assets/doc-app-bg.png');
        background-size: cover;
    }
}

.authentication-form {
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 700px) {
    .authentication-form {
        width: 80vw;
    }
}

.authentication .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    padding: 7px 15px;
    text-align: center;
}

.ant-form-item-label,
label {
    color: #fff !important;
    font-weight: bold !important;
}

.num-input {
    text-align: center !important;
    width: 45px;
    height: 50px !important;
    border-radius: 10px !important;
}

@media screen and (max-width:400px) {
    .num-input {
        height: 30px !important;
        width: 30px;
    }
}

.ant-input-password {
    outline: none !important;
}

.auth-input {
    background: none;
    border: 1px solid #fff !important;
    border-radius: 2px !important;
}

input.ant-input,
.ant-input-status-success,
.password-input {
    background: none !important;
    color: #fff;
}


input.ant-input:focus {
    outline: none !important;
    border: none !important;
}

.auth-input:focus {
    border: 1px solid #fff !important;
}

.anticon {
    color: rgb(229, 255, 0) !important;
}

.ant-table-tbody {
    background-color: #fff !important;
}

.status {
    color: rgb(17, 72, 109);
    font-size: 18px;
    cursor: pointer;
}

.ant-tabs-tab-btn {
    color: #ffffff;
}

.ant-pagination-item-active {
    background: #00aeff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}